{% extends './main/baseMain.html' %} {% block title %}Resetear contraseña{% endblock %}
{%block contents %}
<h1>Resetear contraseña</h1>



<div class="background-image-login">
<div class="frame">
  <form action="{{url_for('main.password_reset', id=id, correo_init=correo_init)}}" method="post">
    {{ form.hidden_tag() }}
    

    <div id="contenedor">
      <div id="contenedorcentrado">
        <div id="login">
          <b>{{ form.correo.label }}</b>
          <br>
          {{ form.correo }}
          <br>
          <b>{{ form.contrasenna.label }}</b>
          <br>
          {{ form.contrasenna }}
          <br>
          <b>{{ form.contrasenna_2.label }}</b>
          <br>
          {{ form.contrasenna_2 }}
          <br>
          <div class="btn-login">
          {{ form.submit }}
          </div>
          <br>
        </div>
      </div> 
    </div>
  </form>
</div>
</div>

{% endblock %}
